<html>
<head>

</head>
<body>
<%= twitter_logged_in? ? session['twitter_id'].to_s : 'user logged out of twitter' %>
<%= facebook_logged_in? ? session['facebook_id'].to_s : 'user logged out of facebook' %>
<br>

<a href='/auth/twitter'>login</a>
<a href='/auth/facebook'>login</a>
</body>
</html>
